.hero {
  position: relative;
  padding: 32px;
  height: 100dvh;
  background: var(--page-background-color);
}

.hero__content {
  display: flex;
  align-items: flex-end;
  height: 100%;
  background: url(/assets/images/hero-background.jpg);
  background-size: cover;
  overflow: hidden;
}

@keyframes hero-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll {
  height: 100%;
  display: inline-block;
  animation: hero-animation 20s linear infinite;
}

.animation-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.speaker-title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.speaker-title-wrapper p {
  font-family: "PP Neue Machina";
  font-size: 120px;
  line-height: 144px;
  letter-spacing: -5.025px;
  color: var(--light-gray-color);
  z-index: 2;
}

.speaker-title-wrapper img:first-of-type {
  margin-inline: 40px;
  z-index: 2;
}

.speaker-title-wrapper img:last-of-type {
  position: absolute;
  bottom: 0;
  height: 80vh;
}

.speaker-title-wrapper:nth-child(2) img:last-of-type {
  left: 150px;
}

.speaker-title-wrapper:nth-child(3) img:last-of-type {
  left: 100px;
}

.speaker-title-wrapper:nth-child(5) img:last-of-type {
  transform: rotateY(180deg);
  left: 150px;
}

.hero__nav-bar {
  position: absolute;
  bottom: 32px;
  width: calc(100% - 64px);
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.hero__nav-bar a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 16px;
  letter-spacing: 1px;
  z-index: 4;
  cursor: pointer;
}

.hero__nav-bar a:hover {
  color: var(--light-gray-color);
}

.mobile-register-button,
.mobile-header-title {
  display: none;
}

@media (max-width: 768px) {
  .hero {
    padding: 0px;
    line-height: 80px;
    letter-spacing: -5.025px;
    text-transform: uppercase;
  }

  .speaker-title-wrapper p {
    font-size: 80px;
    line-height: 80px;
  }

  .hero__nav-bar {
    display: none;
  }

  .mobile-register-button {
    display: flex;
    width: calc(100% - 32px);
    padding: 20px 48px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: var(--white-color);
    color: var(--black-shade);
    letter-spacing: 1px;
    border: none;
    position: absolute;
    bottom: 122px;
    left: 16px;
    z-index: 5;
    text-transform: uppercase;
  }

  .mobile-header-title {
    display: block;
    width: calc(100% - 32px);
    color: var(--white-color);
    text-align: center;
    line-height: 16px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 40px;
    left: 16px;
    z-index: 5;
  }
}
