.speaker-section {
  background: url(../../../assets/images/speaker-background.png);
  background-size: cover;
  background-position: center;
  height: 1571px;
}

.speaker-section__title {
  position: sticky;
  top: -20vw;
  padding-top: 33%;
}

.speaker-section__title h2 {
  color: var(--light-gray-color);
  font-feature-settings: "case" on, "ss12" on;
  font-family: "PP Neue Machina";
  font-size: 120px;
  font-style: normal;
  font-weight: 500;
  line-height: 144px;
  text-align: center;
  letter-spacing: -4px;
}

@media (max-width: 980px) {
  .speaker-section__title h2 {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .speaker-section__title h2 {
    font-size: 60px;
  }
}
@media (min-width: 576px) and (max-width: 981px) {
  .speaker-section__title {
    padding-top: 50%;
  }
}

@media (max-width: 576px) {
  .speaker-section__title h2 {
    font-size: 40px;
  }

  .speaker-section {
    background: url(../../../assets/images/speaker-background-mobile.png)
        lightgray 0px -135.098px / 107.534% 136.074% no-repeat,
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-blend-mode: normal, normal, lighten, normal;
    height: 749px;
  }
}

@media (max-width: 320px) {
  .speaker-section__title h2 {
    font-size: 30px;
  }
}
