.sponsors-section {
    position: relative;
    background-color: var(--page-background-color);
}

.sponsors-section__head {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sponsors-section__head p {
    color: var(--black-shade-2);
    font-size: 0.97vw;
    line-height: 1.11vw;
    font-weight: 500;
    letter-spacing: 0.07vw;
    margin-bottom: 1.67vw;
    font-family: "PP Neue Machina";
    opacity: 0.6;
}

.sponsors-section__head h1 {
    text-align: center;
    max-width: 52vw;
    color: var(--orange-color);
    font-size: 3.3vw;
    letter-spacing: -0.12vw;
    line-height: 3.9vw;
    font-family: "PP Neue Machina";
}

.sponsors-section__ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 160px;
    padding-bottom: 160px;
}

.sponsor-medal {
    width: 12.85vw;
    height: 9.72vw;
    margin-bottom: 1.11vw;
}

.medal-title {
    font-size: 0.97vw;
    color: var(--black-shade-2);
    line-height: 1.67vw;
    margin-bottom: 80px;
    opacity: 0.6;
}

.gold-sponsors__list {
    display: flex;
    gap: 32px;
}

.gold-sponsor__container .frame-wrapper {
    width: 319.2px;
    height: 255.36px;
    margin-bottom: 32px;
}

.gold-sponsor__container .frame-wrapper > img:first-child {
    width: 255.36px;
    height: 319.2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.gold-sponsor__container .frame-wrapper p {
    position: absolute;
    top: 35%;
    width: 100%;
    color: var(--white-color);
    font-weight: bold;
    font-size: 40px;
    font-family: "PP Neue Machina";
}

.gold-sponsor__container h3 {
    font-family: "PP Neue Machina";
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 16px;
}

.gold-sponsor__container .dots {
    margin-bottom: 16px;
}

.gold-sponsor__footer {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1025px) and (max-width: 1514px) {
    .gold-sponsor__container .frame-wrapper {
        width: 20vw;
        height: 16vw;
    }

    .gold-sponsor__container .frame-wrapper > img:first-child {
        width: 16vw;
        height: 20vw;
    }

    .gold-sponsor__container .frame-wrapper p {
        font-size: 2vw;
    }

    .gold-sponsor__container h3 {
        font-size: 18px;
    }

    .gold-sponsor__footer > * {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .sponsor-medal {
        width: 40vw;
        height: auto;
    }

    .medal-title {
        font-size: 3.2vw;
        line-height: 3.7333333333vw;
    }

    .gold-sponsors__list {
        flex-direction: column;
        gap: 100px;
    }

    .gold-sponsor__container {
        width: 80vw;
    }

    .gold-sponsor__container .frame-wrapper {
        width: 80vw;
        height: 62vw;
    }

    .gold-sponsor__container .frame-wrapper > img:first-child {
        height: 80vw;
        width: 62vw;
    }

    .gold-sponsor__container .frame-wrapper p {
        font-size: 10vw;
    }
}

@media (max-width: 767px) {
    .sponsors-section__head > h1 {
        font-size: 6.4vw;
        letter-spacing: -0.2666666667vw;
        max-width: 80.6666666667vw;
        line-height: 6vw;
    }

    .sponsors-section__head > p {
        font-size: 3.2vw;
        line-height: 4.2666666667vw;
        margin-bottom: 4.2666666667vw;
    }

    .gold-sponsor__container {
        width: 90vw;
    }

    .gold-sponsor__container .frame-wrapper {
        width: 90vw;
        height: 70vw;
    }

    .gold-sponsor__container .frame-wrapper > img:first-child {
        height: 90vw;
        width: 70vw;
    }
}
