.schedule-section {
  background-color: var(--page-background-color);
  height: 100vh;
  padding: 0 32px;
  position: relative;
}

.schedule-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(/assets/images/noise-_LsklY-m.webp);
  opacity: 0.15;
  pointer-events: none;
}

.schedule-section__navigation {
  display: flex;
  justify-content: space-between;
}

.date-nav {
  display: flex;
  gap: 8px;
}

.date-nav input {
  display: none;
}

.date-nav input:checked + label {
  color: var(--red-stat-color);
  border-bottom: 3px solid var(--red-stat-color);
}

.schedule-categories {
  display: flex;
  gap: 8px;
  list-style: none;
}

.schedule-categories input {
  display: none;
}

.schedule-categories input:checked + label {
  color: var(--red-stat-color);
  border-bottom: 3px solid var(--red-stat-color);
}

.schedule-section__navigation label {
  padding: 8px 16px;
  cursor: pointer;
  color: var(--black-shade-2);
  font-weight: 600;
  font-feature-settings: "ss03" on;
  line-height: 16px;
  letter-spacing: 1px;
}
