.schedule-section {
    display: flex;
    flex-direction: column;
    gap: 98px;
    background-color: var(--page-background-color);
    max-height: 320dvh;
    padding: 32px;
    position: relative;
    padding-bottom: 100px;
}


@media (max-width: 767px) {
    .schedule-section {
        padding-inline: 16px;
    }
}
