* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--page-background-color);
  font-family: "PP Neue Montreal Mono";
  font-size: 14px;
}

.header {
  position: fixed;
  top: 32px;
  margin: 0 32px;
  width: calc(100% - 64px);
  padding: 24px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  font-weight: 500;
  letter-spacing: 1px;
  background: transparent;
  color: var(--white);
}

.header > * {
  background: transparent;
}

.header-conf-info {
  line-height: 16px;
}

.header-conf-info span {
  background: transparent;
  /* cekan dev mod da mogu broju saznat za ovaj span */
}

.header-title {
  text-align: center;
  line-height: 16px;
}

.register-button {
  border: none;
  background: var(--register-button-color);
  padding: 14px 16px;
  line-height: 14px;
  font-family: "PP Neue Montreal Mono";
  letter-spacing: 1px;
  font-weight: 500;
  color: #121212;
}
