.hero {
  position: relative;
  padding: 32px;
  height: 100dvh;
  background: var(--page-background-color);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../assets/images/noise.webp");
  opacity: 0.15;
}

.hero-content {
  display: flex;
  align-items: flex-end;
  height: 100%;
  background: url(../../assets/images/hero-background.jpg);
  background-size: cover;
}

.scroll {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.animation-container {
  display: flex;
  align-items: center;
  height: 75vh;
  position: absolute;
  animation: hero-animation 20s infinite linear;
}

.speakers-images {
  display: flex;
  position: absolute;
  z-index: 1;
  height: 75vh;
  width: 100%;
}

.speakers-images img {
  height: 100%;
  flex-shrink: 0;
  object-fit: contain;
}

.text-over-speakers {
  display: flex;
  gap: 40px;
  align-items: center;
}

.text-over-speakers > p {
  font-family: "PP Neue Machina";
  font-size: 120px;
  line-height: 144px;
  letter-spacing: -5px;
  text-align: center;
  color: var(--white);
  z-index: 2;
  overflow: hidden;
}

.text-over-speakers img {
  width: 120px;
  height: 20vh;
  z-index: 2;
}

@keyframes hero-animation {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-50%);
  }
}

.nav-bar {
  position: absolute;
  bottom: 32px;
  width: calc(100% - 64px);
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.nav-bar p {
  color: var(--white);
  font-size: 16px;
  letter-spacing: 1px;
  z-index: 4;
}
.mobile-register-button,
.mobile-header-title {
  display: none;
}

.speakers-images img {
  margin-right: 6%;
}

.speakers-images img:nth-child(4) {
  margin-right: 3%;
}

.speakers-images img:nth-child(7) {
  margin-right: 8%;
}

.speakers-images img:nth-child(5) {
  transform: rotateY(180deg);
  margin-right: 5.5%;
}

.speaker-images img:nth-child(10) {
  margin-right: 7%;
}

@media (min-width: 1600px) {
  .text-over-speakers img {
    width: 160px;
  }
  .speakers-images img {
    margin-right: 4px;
  }

  .speakers-images img:nth-child(1),
  .speakers-images img:nth-child(6) {
    margin-right: 2.8%;
  }
  .speakers-images img:nth-child(2),
  .speakers-images img:nth-child(7) {
    margin-right: 6%;
  }

  .speakers-images img:nth-child(3) {
    margin-right: 5%;
  }

  .speakers-images img:nth-child(9) {
    margin-right: 3%;
  }
  .speakers-images img:nth-child(5) {
    transform: rotateY(180deg);
    margin-right: 4%;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 0px;
  }

  .animation-container {
    height: 75vh;
  }

  .text-over-speakers > p {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -5.025px;
  }

  .nav-bar {
    display: none;
  }

  .mobile-register-button {
    display: flex;
    width: calc(100% - 32px);
    padding: 20px 48px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: var(--white);
    color: var(--black-shade);
    font-family: "PP Neue Montreal Mono";
    letter-spacing: 1px;
    border: none;
    position: absolute;
    bottom: 122px;
    left: 16px;
    z-index: 5;
    text-transform: uppercase;
  }

  .mobile-header-title {
    display: block;
    width: calc(100% - 32px);
    color: var(--white);
    text-align: center;
    font-family: "PP Neue Montreal Mono";
    line-height: 16px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 40px;
    left: 16px;
    z-index: 5;
  }

  .speakers-images img:nth-child(2) {
    margin-right: 6%;
  }

  .speakers-images img:nth-child(3) {
    margin-right: 3.5%;
  }

  .speakers-images img:nth-child(6) {
    margin-right: 1%;
  }

  .speakers-images img:nth-child(1),
  .speakers-images img:nth-child(4),
  .speakers-images img:nth-child(9) {
    margin-right: 2%;
  }

  .speakers-images img:nth-child(5) {
    margin-right: 3.8%;
    transform: rotateY(180deg);
  }
}
