.welcome-section {
  position: relative;
  padding: 32px;
  height: 100dvh;
  background: var(--page-background-color);
}

.welcome-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../assets/images/noise.webp");
  opacity: 0.15;
}

.welcome-section-content {
  display: flex;
  align-items: flex-end;
  height: 100%;
  background: url(../../assets/images/hero-background.jpg);
  background-size: cover;
}

.animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  position: relative;
  /* animation: welcome-animation 5s infinite linear; */
}

.speakers-images {
  display: flex;
  position: absolute;
  z-index: 1;
  height: 75vh;
}

.speakers-images img {
  height: 100%;
}

.text-over-speakers {
  display: flex;
  gap: 40px;
}

.text-over-speakers > p {
  font-family: "PP Neue Machina";
  font-size: 120px;
  line-height: 144px;
  letter-spacing: -5px;
  text-align: center;
  color: var(--white);
  z-index: 2;
  overflow: hidden;
}

.text-over-speakers img {
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 40px;
  margin-top: 0;
  z-index: 2;
}

@keyframes welcome-animation {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.nav-bar {
  position: absolute;
  bottom: 32px;
  width: calc(100% - 64px);
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.nav-bar p {
  color: var(--white);
  font-size: 16px;
  letter-spacing: 1px;
  z-index: 4;
}
.mobile-register-button,
.mobile-header-title {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 24px 0;
  }
  .welcome-section {
    padding: 0px;
  }

  .animation-container {
    height: 75vh;
    overflow: hidden;
  }

  .text-over-speakers > p {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -5.025px;
  }

  .nav-bar {
    display: none;
  }

  .mobile-register-button {
    display: flex;
    width: calc(100% - 32px);
    padding: 20px 48px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: var(--white);
    color: var(--black-shade);
    font-family: "PP Neue Montreal Mono";
    letter-spacing: 1px;
    border: none;
    position: absolute;
    bottom: 122px;
    left: 16px;
    z-index: 5;
    text-transform: uppercase;
  }

  .mobile-header-title {
    display: block;
    width: calc(100% - 32px);
    color: var(--white);
    text-align: center;
    font-family: "PP Neue Montreal Mono";
    line-height: 16px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 40px;
    left: 16px;
    z-index: 5;
  }
}
