@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpFaded {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 0.3;
    transform: translateY(0);
  }
}

.speakers-container .speaker {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp linear;
  animation-timeline: view();
  animation-range: entry 10% cover 50%;
  animation-fill-mode: forwards;
}

.speakers-container .speaker:nth-child(6) {
  animation: fadeInUpFaded linear;
  animation-timeline: view();
  animation-range: entry 10% cover 50%;
  animation-fill-mode: forwards;
}
