.location-section {
    padding-top: 523px;
    background-color: var(--location-section-background-color);
    position: relative;
}

.location-section__content {
    position: relative;
    height: 2148px;
}

.location-section__content .background {
    position: absolute;
    background: url(/assets/images/buildings.jpg) transparent bottom / 100% auto
        no-repeat;
    mix-blend-mode: soft-light;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.location-section__content h1 {
    position: sticky;
    top: 90px;
    color: var(--light-gray-color);
    text-align: center;
    font-weight: 500;
    font-size: 284.57px;
    line-height: 341.49px;
    letter-spacing: -11.916px;
    font-family: "PP Neue Machina";
    font-style: normal;
}

.footer-image {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-image img {
    width: 100%;
}

.footer-image .footer-image__mobile {
    display: none;
    width: 115%;
}

.location-section > .dots {
    margin-inline: 55px;
    width: auto;
}

@media (max-width: 1390px) {
    .location-section {
        padding-top: 90px;
    }

    .location-section__content {
        height: 1200px;
    }

    .location-section__content h1 {
        padding-top: 90px;
        font-size: 69.968px;
        line-height: 87.46px;
        letter-spacing: -3.28px;
    }
}

@media (max-width: 1024px) {
    .location-section > .dots {
        margin-inline: 16px;
    }
}

@media (max-width: 800px) {
    .location-section__content {
        height: 1080px;
    }

    .location-section__content .background {
        background: url(/assets/images/split-background-jQ2puxhO.webp)
            transparent bottom / 100% auto no-repeat;
    }

    .footer-image__desktop {
        display: none;
    }

    .footer-image .footer-image__mobile {
        display: block;
    }
}
