.stamp {
  position: relative;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stamp > * {
  width: 436.853px;
  height: 592.916px;
  background-image: url(/assets/images/stamp-paQH99O8.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stamp-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stamp-top img {
  width: 379px;
  height: 531px;
}

.stamp-bottom {
  padding: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stamp-bottom h2 {
  color: var(--orange-color);
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -1px;
  font-family: "PP Neue Machina";
}

.stamp-footer__text {
  margin-top: 32px;
}

.stamp-footer__text h3 {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
}

.location-section__date__top .stamp {
  margin: 0;
  width: 14.6334027778vw;
  height: 19.8611111111vw;
  background-image: url(/assets/images/stamp-paQH99O8.svg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  display: none;
}

.location-section__date__top .stamp img {
  position: absolute;
  width: 17.6388888889vw;
  height: 12.6388888889vw;
  transform: rotate(-90deg);
}

@media (max-width: 1390px) {
  .stamp > * {
    width: 237.539px;
    height: 322.398px;
  }

  .stamp-top img {
    width: 206.081px;
    height: 288.731px;
  }

  .stamp-bottom {
    padding: 30px;
  }

  .stamp-bottom h2 {
    font-size: 26px;
    line-height: 26px;
    letter-spacing: -0.544px;
  }

  .stamp-footer__text {
    margin-top: 17px;
  }

  .stamp-footer__text h3 {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.544px;
  }
}

@media (max-width: 800px) {
  .location-section__date__top .stamp {
    display: flex;
  }
}
