.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black-shade-2);
  position: relative;
  padding-top: 80px;
}

.faq-section h1 {
  color: var(--light-gray-color);
  font-family: "PP Neue Machina";
  font-weight: 500;
  font-size: 120px;
  line-height: 144px;
  margin-bottom: 80px;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 60px;
  padding-bottom: 160px;
}

.questions .dots {
  width: 80%;
}

.question {
  width: 80%;
}

.question p {
  color: var(--white-color);
  opacity: 0.7;
  font-family: "PP Neue Machina";
  font-size: 24px;
  line-height: 32px;
  text-align: start;
}

.question > label {
  display: flex;
  justify-content: space-between;
}

.question > label > p:first-of-type {
  font-weight: 500;
  width: 50%;
}

.question .minus,
.answer,
.question > input {
  display: none;
}

.toggle-answer:checked ~ .answer,
.toggle-answer:checked ~ label > .minus {
  display: block;
}

.toggle-answer:checked ~ label > .plus {
  display: none;
}

.question .answer {
  font-size: 14px;
  line-height: 22px;
  opacity: 0.5;
  width: 50%;
  margin-left: 26%;
  position: relative;
  top: 20px;
}

.question .minus:hover,
.question .plus:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .faq-section h1 {
    font-size: 64px;
    line-height: 87.46px;
  }

  .questions {
    gap: 30px;
  }

  .questions .dots {
    width: 90%;
  }

  .question {
    width: 90%;
  }

  .question p {
    font-size: 16px;
    line-height: 24px;
  }

  .plus {
    display: none;
  }

  .toggle-answer:checked ~ label > .minus {
    display: none;
  }

  .question label {
    justify-content: flex-start;
    gap: 20px;
  }

  .question label > p:first-of-type {
    width: 100%;
  }

  .question .answer {
    position: static;
    margin: 0;
    padding: 20px 0px 0px 70px;
    width: 100%;
  }
}
