.conf-statistics {
  display: flex;
  flex-direction: column;
  padding: 1.67vw 3.9vw;
  background-color: var(--page-background-color);
  position: relative;
  gap: 10vw;
}

.conf-statistics::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../../assets/images/noise.webp");
  opacity: 0.15;
}

.conf-statistics__statistics-wrapper {
  display: flex;
  padding-bottom: 1.67vw;
}

.conf-statistics__title-and-image {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 50%;
}

.conf-statistics__title-and-image .statistics-title {
  display: block;
  color: var(--black-shade-2);
  line-height: 1.14vw;
  letter-spacing: 1px;
  font-size: 1vw;
  font-weight: 600;
}

.duck-vinyl-image-wrapper {
  padding: 10px 160px 200px 10px;
}

.duck-vinyl-image {
  position: relative;
  width: 26vw;
  height: 28vw;
}

.vinyl-wrapper-container {
  position: absolute;
  bottom: -20%;
  right: -20%;
  height: 20vw;
  width: 20vw;
  overflow: hidden;
}

.vinyl-wrapper {
  position: relative;
  display: inline-block;
}

.vinyl-wrapper img {
  width: 100%;
  height: 100%;
}

.vinyl-wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.duck-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conf-statistics__info-and-statistics {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 120px;
}

.conf-statistics__info-and-statistics .mobile-statistics-title {
  display: none;
}

.conf-statistics__info-and-statistics .dump-info {
  color: var(--info-text-color);
  font-family: "PP Neue Machina";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1px;
  max-width: 450px;
}

.conf-statistics__info-and-statistics .statistics {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
  row-gap: 125px;
  column-gap: 7.5vw;
  z-index: 5;
}

.conf-statistics__info-and-statistics .statistics div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.conf-statistics__info-and-statistics .statistics p:nth-child(2) {
  color: var(--black-shade-2);
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.conf-statistics__info-and-statistics .statistic-number {
  color: var(--red-stat-color);
  text-align: center;
  font-family: "PP Neue Machina";
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -5px;
  font-weight: 600;
}

.conf-statistics__gallery {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.frame-wrapper {
  position: relative;
  width: 320px;
  height: 401px;
}

.frame-wrapper img:nth-child(1) {
  position: relative;
  z-index: 1;
}

.frame-wrapper img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .conf-statistics {
    padding: 6.5vw 4vw;
    gap: 5vw;
  }
  .conf-statistics__title-and-image .statistics-title {
    display: none;
  }

  .conf-statistics__info-and-statistics .mobile-statistics-title {
    display: block;
    align-self: flex-start;
    color: var(--black-shade-2);
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 5vw;
  }

  .conf-statistics__info-and-statistics {
    width: 100%;
    gap: 80px;
  }

  .conf-statistics__info-and-statistics .dump-info {
    min-width: 100%;
    font-size: 5vw;
    line-height: 7vw;
  }

  .conf-statistics__info-and-statistics .statistic-number {
    font-size: 17vw;
    line-height: 17vw;
    letter-spacing: -5px;
  }

  .conf-statistics__info-and-statistics .statistics p:nth-child(2){
    font-size: 3.5vw;
    line-height: 4.5vw;
  }

  .conf-statistics__title-and-image {
    position: absolute;
    bottom: 30%;
    right: -5%;
    transform: rotate(10deg);
  }

  .conf-statistics__info-and-statistics .statistics {
    min-width: 100%;
    row-gap: 35vw;
    column-gap: 23vw;
    margin-bottom: 46vw;
  }

  .duck-vinyl-image {
    width: 60vw;
    height: 54vw;
  }

  .vinyl-wrapper-container {
    bottom: -40%;
    right: -5%;
    height: 40vw;
    width: 40vw;
    overflow: hidden;
  }
}
