.conf-statistics__gallery {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.conf-statistics__gallery .frame-wrapper {
    width: 320px;
    height: 401px;
}

@media (max-width: 767px) {
    .conf-statistics__gallery .frame-wrapper {
        width: 140px;
        height: 180px;
    }
}

@media (min-width: 1110px) and (max-width: 1512px) {
    .conf-statistics__gallery {
        flex-wrap: nowrap;
    }

    .conf-statistics__gallery .frame-wrapper {
        width: 20vw;
        height: 25vw;
    }
}
