.conf-statistics__title-and-image {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 50%;
}

.conf-statistics__title-and-image .statistics-title {
  display: block;
  color: var(--black-shade-2);
  line-height: 1.14vw;
  letter-spacing: 1px;
  font-size: 1vw;
  font-weight: 600;
}

.duck-vinyl-image-wrapper {
  padding: 10px 160px 200px 10px;
}

.duck-vinyl-image {
  position: relative;
  width: 26vw;
  height: 28vw;
}

.vinyl-wrapper-container {
  position: absolute;
  bottom: -25%;
  right: -25%;
  height: 20vw;
  width: 20vw;
  overflow: hidden;
}

.vinyl-wrapper {
  position: relative;
  display: inline-block;
}

.vinyl-wrapper img {
  width: 100%;
  height: 100%;
}

.vinyl-wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.duck-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .conf-statistics__title-and-image .statistics-title {
    display: none;
  }

  .conf-statistics__title-and-image {
    position: absolute;
    bottom: 30%;
    right: -5%;
    transform: rotate(10deg);
  }

  .duck-vinyl-image {
    width: 60vw;
    height: 54vw;
  }

  .vinyl-wrapper-container {
    bottom: -40%;
    right: -5%;
    height: 40vw;
    width: 40vw;
    overflow: hidden;
  }
}

@media (min-width: 732px) and (max-width: 767px) {
  .conf-statistics__title-and-image {
    bottom: 22%;
  }
}

@media (max-width: 358px) {
  .conf-statistics__title-and-image {
    bottom: 48%;
  }
}

@media (max-width: 248px) {
  .conf-statistics__title-and-image {
    bottom: 50%;
  }
}

@media (max-width: 188px) {
  .conf-statistics__title-and-image {
    bottom: 51%;
  }
}
