@import "./sections/conf-statistics/conf-statistics.css";
@import "./sections/conf-statistics/title-and-image.css";
@import "./sections/conf-statistics/info-and-statistics.css";
@import "./sections/conf-statistics/gallery.css";
@import "./base/variables.css";
@import "./base/definitions.css";
@import "./base/main.css";
@import "./sections/hero/header.css";
@import "./sections/hero/hero.css";
@import "./sections/hero/mobile-menu.css";
@import "./sections/location/location.css";
@import "./sections/location/location-info.css";
@import "./sections/location/location-date.css";
@import "./sections/location/stamp.css";
@import "./sections/speaker/speaker.css";
@import "./sections/schedule/schedule.css";

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("../assets/fonts/pp-neue-montreal-mono-book.ttf");
  font-family: "PP Neue Montreal Mono";
  src: url("../assets/fonts/pp-neue-montreal-mono-book.ttf");
}

@font-face {
  font-family: "PP Neue Machina";
  src: url("../assets/fonts/PPNeueMachina-Regular.otf");
  font-family: "PP Neue Machina";
  src: url("../assets/fonts/PPNeueMachina-Regular.otf");
}
