@import "./sections/header.css";
@import "./sections/hero.css";
@import "./sections/mobile-menu.css";
@import "./sections/definitions.css";
@import "./sections/conf-statistics/conf-statistics.css";
@import "./variables.css";

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("../assets/fonts/pp-neue-montreal-mono-book.ttf");
}

@font-face {
  font-family: "PP Neue Machina";
  src: url("../assets/fonts/PPNeueMachina-Regular.otf");
}
