:root {
  --page-background-color: #f5ede1;
  --light-gray-color: #eaeaea;
  --white: #fff;
  --black-shade: #121212;
  --black-shade-2: #171615;
  --info-text-color: rgba(23, 22, 21, 0.7);
  --red-stat-color: #ff482f;
}
