.dots {
  height: 2px;
  width: 100%;
  background-image: radial-gradient(
    circle,
    rgba(23, 22, 21, 0.3) 1px,
    transparent 0.3px
  );
  background-size: 8px 2px;
}

.vertical-dots {
  width: 3px;
  height: inherit;
  background-image: radial-gradient(
    circle,
    rgba(23, 22, 21, 0.3) 1px,
    transparent 0.3px
  );
  background-size: 2px 8px;
  background-repeat: repeat-y;
}

.gray-dots {
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 1px,
    transparent 0.3px
  );
}

.white-dots {
  background-image: radial-gradient(circle, white 1px, transparent 0.3px);
}
